@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=League+Spartan:wght@100..900&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metropolis:wght@700&display=swap');
@import "tailwindcss";

@theme {
  --font-spartan : "League Spartan", sans-serif;
  --font-quicksand : "Quicksand", sans-serif;
  --font-gothic : "League Gothic", sans-serif;
  --font-metropolis : "Metropolis", sans-serif;
}

